{% include 'html_start.html' %}
    <div class="content">
        {% include 'header.html' %}
        <div class="container post">
            <div class="row post-body">
                <div class="col-md-12 post-title">
                    <!--h3><span style="color: #5caad2;">Lecture Recording</span> Automated Setup <small>or</small> Opt-Out</h3-->
                    <h3><span style="color: #5caad2;">{{course}}</span><small>&nbsp;:&nbsp;Automated setup of lecture recording</small></h3>
                    <p class="author"><span class="text-muted">{{created_at|date("F jS \\a\\t g:ia")}}</span></p>
                    <br/>
                    <!--p>{{authenticated|json_encode()}}</p-->
                    {% if not readonly %}
                        <div class="row">
                            <div class="col-md-10">
                                <p>The pre-checks for course <strong>{{course}}</strong>, found the following:</p>
                                <div style="padding-left: 2em;">
                                    {% if hasVulaSite %}
                                        <div class="alert alert-success" role="alert">
                                            <i class="far fa-3x fa-check-circle success"></i>
                                            <span>There is a Vula site associated with this course.</span>
                                        </div>
                                        {% if not hasOCSeries %}
                                            <div class="alert alert-info" role="alert">
                                                <i class="far fa-3x fa-check-circle info"></i>
                                                <span>A lecture recording series can be created for this course.</span>
                                            </div>
                                        {% else %}
                                            {% if not isTimetabled %}
                                                <div class="alert alert-success" role="alert">
                                                    <i class="far fa-3x fa-check-circle success"></i>
                                                    <span>A lecture recording series exists for this course.</span>
                                                </div>
                                            {% else %}
                                                <div class="alert alert-info" role="alert">
                                                    <i class="fas fa-3x fa-exclamation-circle info" style="margin-top:0.32em"></i>
                                                    <span>A lecture recording series exists for this course and there are recordings scheduled or active.<br/> The timetable will not be automatically scheduled.</span>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        <div class="alert alert-danger" role="alert">
                                            <i class="far fa-3x fa-times-circle danger zero" style="top: 10px; padding-bottom: 40px;"></i>
                                            <span>There seems to be no Vula site associated with this course code.<br/>
                                            To use automatic scheduling {% if (timetable is not empty) %}(for the timetable shown below){% endif %} please create a Vula site for {{course}}, make sure that it is published and/or the class list is linked correctly; before {{date_schedule|date("l, d F Y")}}.</span>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <br/>
                                <p>Would you like to use automatic scheduling?</p>
                                <div style="padding-left: 2em;">
                                    <div class="card mb-3 switch-container" {% if readonly %}style="height:auto;margin-top: 26px;"{% endif %}>
                                        <div class="card-body">
                                            <div class="switch-button">
                                                <span class="active" {% if details.optoutStatus %}style="left: 50%;"{% else %}style="left: 0%;"{% endif %}></span>
                                                <button class="switch-button-case left {% if not details.optoutStatus %}active-case{% endif %}"><strong>Yes:</strong> schedule recordings automatically</button>
                                                <button class="switch-button-case right {% if details.optoutStatus %}active-case{% endif %}"><strong>No:</strong> do not schedule recordings</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-10">
                                {% if email_case == "1" %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-3x fa-exclamation-circle info" style="margin-top:0.12em"></i>
                                        <h6 style="margin:0.4em"><strong>{{course}}</strong> is not using lecture recording or will be self scheduling. (HOD)</h6>
                                    </div>
                                {% endif %}
                                {% if email_case == "2" %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-3x fa-exclamation-circle info" style="margin-top:0.12em"></i>
                                        <h6 style="margin:0.4em"><strong>{{course}}</strong> is not using lecture recording or will be self scheduling. (Lecturer)</h6>
                                    </div>
                                {% endif %}
                                {% if email_case == "3" %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-3x fa-exclamation-circle info" style="margin-top:0.32em"></i>
                                        <h6 style="margin:0.4em"><strong>{{course}}</strong> has a lecture recording series and there are recordings scheduled or active. <br/> The timetable will not be automatically scheduled.</h6>
                                    </div>
                                {% endif %}
                                {% if email_case == "4" %}
                                    <div class="alert alert-success" role="alert">
                                        <i class="far fa-3x fa-check-circle success" style="margin-top:0.12em"></i>
                                        <h6 style="margin:0.4em">Lectures was automatically scheduled for <strong>{{course}}</strong> {% if (timetable is not empty) %}(according to the timetable shown below){% endif %}.</h6>
                                    </div>
                                {% endif %}
                                {% if email_case == "5" %}
                                    <div class="alert alert-warning" role="alert">
                                        <i class="far fa-3x fa-times-circle warning" style="margin-top:0.12em"></i>
                                        <h6 style="margin:0.4em">There are multiple class lists on your <strong>{{course}}</strong> site in Vula, it is not currently possible to do automated setup of your lecture recordings.</h6>
                                    </div>
                                {% endif %}
                                {% if email_case == "6" %}
                                    <div class="alert alert-danger" role="alert">
                                        <i class="far fa-3x fa-times-circle danger" style="margin-top:0.32em"></i>
                                        <h6 style="margin:0.4em">There is no Vula site associated with <strong>{{course}}</strong>, so the timetable will not be automatically scheduled.</h6>
                                    </div>
                                {% endif %}
                                {% if email_case == "0" %}
                                    {% if email_type == "notification" %}
                                    <div class="alert alert-info" role="alert">
                                        <i class="fas fa-3x fa-exclamation-circle info" style="margin-top:0.32em"></i>
                                        <h6 style="margin:0.4em"> We are processing <strong>{{course}}</strong>, please check back in a couple of minutes.
                                            <br/>If you have questions or want to change the opt-out status please contact <a href="mailto:cilt-helpdesk@uct.ac.za?subject=Automated Setup of Lecture Recording for {{course}}" title="Cilt Help Desk">cilt-helpdesk@uct.ac.za</a>.</h6>
                                    </div>
                                    {% else %}
                                    <div class="alert alert-danger" role="alert">
                                        <i class="far fa-3x fa-times-circle danger" style="margin-top:0.12em"></i>
                                        <h6 style="margin:0.4em"> Something went terribly wrong in scheduling <strong>{{course}}</strong>, please contact <a href="mailto:cilt-helpdesk@uct.ac.za?subject=Automated Setup of Lecture Recording for {{course}}" title="Cilt Help Desk">cilt-helpdesk@uct.ac.za</a>.</h6>
                                    </div>
                                    {% endif %}
                                {% endif %}
                                <br/>
                            </div>
                        </div>
                    {% endif %}
                    {% if (timetable is not empty) %}
                        <!--p>{{timetable|json_encode|raw}}</p-->
                        {% if (timetable.LEC is not empty) %}
                        <div class="table-responsive">
                            <h4>Timetable:</h4>
                            <table id="course_table" class="table">
                                <thead>
                                    <tr class="notop">
                                        <th rowspan="2">Venue</th>
                                        <th rowspan="2">Dates</th>
                                        <th rowspan="2">Times</th>
                                        <th class="header">Days</th>
                                    </tr>
                                    <tr>
                                        <th class="days">
                                            <div>Mon</div>
                                            <div>Tue</div>
                                            <div>Wed</div>
                                            <div>Thu</div>
                                            <div>Fri</div>
                                            <div>Sat</div>
                                            <div>Sun</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for lec in timetable.LEC %}
                                        <tr>
                                            <td>{{lec.sn_venue}}</td>
                                            <td>
                                                {{lec.start_date}} <small>to</small> {{lec.end_date}}
                                            </td>
                                            <td>
                                                {{lec.start_time}} <small>-</small> {{lec.end_time}}
                                            </td>
                                            <td class="days">
                                                <div class="{% if lec.days.mon %}use{% endif %}"></div>
                                                <div class="{% if lec.days.tue %}use{% endif %}"></div>
                                                <div class="{% if lec.days.wed %}use{% endif %}"></div>
                                                <div class="{% if lec.days.thu %}use{% endif %}"></div>
                                                <div class="{% if lec.days.fri %}use{% endif %}"></div>
                                                <div class="{% if lec.days.sat %}use{% endif %}"></div>
                                                <div class="{% if lec.days.sun %}use{% endif %}"></div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        {% endif %}
                        <div class="alert alert-light" role="alert">
                            <u>NOTE:</u> You are welcome to schedule additional sessions after the automated setup.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="loginForm" method="post" action="/optout/view/{{hash}}">
                    <input type="hidden" id="type" name="type" value="login"/>
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p>Please login to change your preference.</p>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="eid" id="eid" value="" placeholder="User ID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="pw" id="pw" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ asset('build/js/jquery.min.js') }}"></script>
    <script src="{{ asset('build/js/tmpl.js') }}"></script>
    <script src="{{ asset('build/js/moment.min.js') }}"></script>
    <script src="{{ asset('build/bootstrap/js/bootstrap.min.js') }}"></script>
    {% if not readonly %}
    <script>
        var changeTimer = false, field = null;

        $(function() {

            var switchButton 			= document.querySelector('.switch-button');
            var switchBtnRight 			= document.querySelector('.switch-button-case.right');
            var switchBtnLeft 			= document.querySelector('.switch-button-case.left');
            var activeSwitch 			= document.querySelector('.active');

            function updateSuccess() {
                $(switchButton).addClass('done');
                setTimeout(function() {
                    $(switchButton).removeClass('done');
                }, 5000);
            }

            function updateError(field, serverResponse) {
                $(switchButton).addClass('err');
            }

            function switchLeft(){
                switchBtnRight.classList.remove('active-case');
                switchBtnLeft.classList.add('active-case');
                activeSwitch.style.left 						= '0%';

                $.ajax({
                    headers: {"x-entity-hash": "{{hash}}"},
                    url: "/optout/api/v0/course/{{course}}",
                    method: 'PUT',
                    data: '{"status": 0}'
                }).done(function() {
                    updateSuccess();
                }).fail(function(xhr) {
                    updateError();
                }).always(function() {
                    $(switchButton).removeClass('updating');
                });
            }

            function switchRight(){
                switchBtnRight.classList.add('active-case');
                switchBtnLeft.classList.remove('active-case');
                activeSwitch.style.left 						= '50%';

                $.ajax({
                    headers: {"x-entity-hash": "{{hash}}"},
                    url: "/optout/api/v0/course/{{course}}",
                    method: 'PUT',
                    data: '{"status": 1}'
                }).done(function() {
                    updateSuccess();
                }).fail(function(xhr) {
                    updateError();
                }).always(function() {
                    $(switchButton).removeClass('updating');
                });
            }

            switchBtnLeft.addEventListener('click', function(){
                {% if not authenticated.a %}
                    $('#loginModal').modal('show');
                {% else %}
                    switchLeft();
                {% endif %}
            }, false);

            switchBtnRight.addEventListener('click', function(){
                {% if not authenticated.a %}
                    $('#loginModal').modal('show');
                {% else %}
                    switchRight();
                {% endif %}
            }, false);
        });
    </script>
    {% endif %}
{% include 'footer.html' %}
{% include 'html_end.html' %}
