{% include 'header.html' %}
{% set st = { 'convenor': 'convenors', 'course': 'courses', 'were': 'were', 'are': 'are', 'all': 'all course convenors' } %}
{% if details.courses | length <= 1 %}
    {% set st = { 'convenor': 'convenor', 'course': 'course', 'were': 'was', 'are': 'is', 'all': 'the course convenor' } %}
{% endif %}
    <div class="container post">
        <div class="row post-body">
            <div class="col-md-12 post-title">
                <h3><span style="color: #5caad2;">Lecture Recording</span> Automated Setup <small>or</small> Opt-Out</h3>
                <p class="author"><span class="text-muted">{{created_at|date("F jS \\a\\t g:ia")}}</span></p>
                <br/>
                <!-- {% if readonly %}Readonly{% else %}Editable{% endif %} -->
                <div class="row">
                    {% if not readonly %}
                        <div class="col-md-8">
                            <p>Based on the current <a href="http://coursetimetable.uct.ac.za" title="UCT Timetables Site">venue bookings</a>, the following {{st.course}} would have automated lecture recording set up.</p>
                            <p>Please check and update the course convenor details below. A course-level opt-out email will be sent to {{st.all}} by <strong>{{date_course|date("l, d F")}}</strong>. Should the course convener information not be available for a particular course, the course opt-out email will default to the Head of Department.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="card bg-light mb-3">
                                <div class="card-body">
                                    <p>If your department as a whole chooses to opt-out from automated setup of lecture recording, please click the link below:</p>
                                    <div style="text-align:center;">
                                        <a href="{{out_link}}" title="Opt out of automated lrecture scheduling" class="btn btn-danger">Opt-out for the department</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="col-md-10">
                            {% if details.is_optout %}
                                <p>This department has opted to <i>NOT</i> automatically schedule lecture recordings for the following {{st.course}}:</p>
                            {% else %}
                                <p>The course {{st.convenor}} {{st.were}} notified, on <strong>{{date_course|date("l, d F Y")}}</strong>, that their {{st.course}} {{st.are}} eligible for automatic scheduling according to their timetable.</p>
                                {% if date() < date(date_schedule) %}
                                    <p>They have until <strong>{{date_schedule|date("l, d F Y")}}</strong> to opt-out of the automatic scheduling.</p>
                                {% else %}
                                    <p>The recordings were automatically scheduled on <strong>{{date_schedule|date("l, d F Y")}}</strong>.</p>
                                {% endif %}
                            {% endif %}
                        </div>
                    {% endif %}
                    </div>
                </div>
                {% if not readonly %}
                    {% if not authenticated.a %}
                        <div class="alert alert-light" role="alert">
                            <u>NOTE:</u> To edit the convenor information please <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#loginModal">Login</button>
                        </div>
                        {% if authenticated.z|length > 1 %}
                        <div class="alert alert-danger" role="alert">
                        {{authenticated.z}}
                        </div>
                        {% endif %}
                    {% endif %}
                {% endif %}
                <div class="table-responsive">
                    <table id="course_table" class="table">
                        <thead>
                            <tr>
                                <th>Course</th>
                                <th>Convenor</th>
                                {% if readonly %}
                                    <th class="text-center">
                                        {% if date() < date(date_schedule) %}To Schedule{% else %}Scheduled{% endif %}
                                        </th>
                                    <!--th>Vula Site</th>
                                    <th>Lecture Recording</th-->
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for course in details.courses %}
                                <!--{ % if course.eligble % }-->
                                    <tr>
                                        <td>
                                            <label>
                                                <strong>
                                                    {{course.courseCode}}
                                                </strong>
                                            </label>
                                        </td>
                                        <td>
                                            {% if authenticated.a and (not readonly) %}
                                                <span>
                                                    <input id="{{course.courseCode}}_c_name" type="text" placeholder="Course Convenor" value="{{course.convenor.name}}" data-old="{{course.convenor.name}}" data-course="{{course.courseCode}}" data-type="name">
                                                    <span class="loader">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </span>
                                                </span>
                                                <span class="edit">
                                                    <input id="{{course.courseCode}}_c_mail"type="text" placeholder="convenor@uct.ac.za" value="{{course.convenor.email}}" data-old="{{course.convenor.email}}" data-course="{{course.courseCode}}" data-type="email">
                                                    <span class="loader">
                                                        <span></span>
                                                        <span></span>
                                                        <span></span>
                                                    </span>
                                                </span>
                                            {% else %}
                                                <span class="input">{{course.convenor.name}}</span>
                                                <span class="input">{{course.convenor.email}}</span>
                                            {% endif %}
                                        </td>
                                        {% if readonly %}
                                            <td class="text-center">
                                                {% if details.is_optout %}
                                                    <span class="no">No</span>
                                                {% else %}
                                                    {% if course.optoutStatus == "1" %}
                                                        <span class="no">No</span>
                                                    {% else %}
                                                        <span class="yes">Yes</span>
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <!--td>
                                                Yes/No
                                            </td>
                                            <td>
                                                Not Scheduled / Scheduled
                                            </td-->
                                        {% endif %}
                                    </tr>
                                <!--{ % endif % }-->
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <br/>
                {% if not readonly %}
                    <div class="row justify-content-center">
                        <div class="col-sm-6">
                            <div class="card bg-light mb-3">
                                <div class="card-body">
                                    <p>If your department as a whole chooses to opt-out from automated setup of lecture recording, please click the link below:</p>
                                    <div style="text-align:center;">
                                        <a href="{{out_link}}" title="Opt out of automated lrecture scheduling" class="btn btn-danger">Opt-out for the department</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="loginForm" method="post" action="/optout/view/{{hash}}">
                    <input type="hidden" id="type" name="type" value="login"/>
                    <div class="modal-header">
                        <h5 class="modal-title">Login</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="eid" id="eid" value="" placeholder="User ID">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <input type="password" class="form-control" name="pw" id="pw" placeholder="Password">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Login</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/tmpl.js') }}"></script>
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    {% if authenticated.a and (not readonly) %}
    <script>
        var changeTimer = false, field = null;

        $(function() {

            $('#course_table').on('focusin','input',function(event){
                $(this).removeClass('done err');
            });

            $('#course_table').on('change','input',function(event){
                    if (changeTimer !== false) clearTimeout(changeTimer);
                    field = $(this);

                    //changeTimer = setTimeout(function(){

                        var d = [{"course": field.data('course'),
                                 "changes": [{
                                     "field": field.data('type') == 'name' ? 'convenorName' : 'convenorEmail',
                                     "from": field.data('old'), "to": field.val()}]}],
                            valid = true;
                        field
                            .parent()
                            .removeClass('done err updating')
                            .removeAttr('data-errortext');

                        if (field.data('type') === 'email') {
                            email_address = $(this);
                            email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
                            if(!email_regex.test(email_address.val())){
                                mailValidationError(field);
                                valid = false;
                            }
                        }

                        if (valid) {
                            field.parent().addClass('updating');
                            $.ajax({
                                headers: {"x-entity-hash": "{{hash}}"},
                                url: "/optout/api/v0/dept/{{dept}}",
                                method: 'patch',
                                data: JSON.stringify(d)
                            }).done(function() {
                                updateSuccess(field);
                            }).fail(function(xhr) {
                                if (xhr.status === 409 && xhr.responseJSON) {
                                    //If updated value is equal to server's current record for field, show a success
                                    var fieldName = field.data('type');
                                    if (xhr.responseJSON[0].convenor[fieldName] === field.val()) {
                                        return updateSuccess(field);
                                    }
                                }

                                //otherwise, show an error message so user knows why update could not take place
                                updateError(field, xhr);
                            }).always(function() {
                                field.parent().removeClass('updating');
                            });
                        }
                    //    changeTimer = false;
                    //}, 300);
            });

            function updateSuccess(field) {
                field
                    .data('old', field.val())
                    .parent()
                        .addClass( "done" );
                setTimeout(function() {
                    field
                        .parent()
                        .removeClass('done');
                }, 5000);
            }

            function updateError(field, serverResponse) {
                field
                    .parent()
                    .addClass('err')
                    .attr('data-errortext', 'Already updated. Please refresh to view the latest changes.');
            }

            function mailValidationError(field, serverResponse) {
                field
                    .parent()
                    .addClass('err')
                    .attr('data-errortext', 'Please enter a valid e-mail address.');
            }
        });
    </script>
    {% endif %}
    <!-- https://www.pexels.com/photo/auditorium-benches-chairs-class-207691/ -->
</body>
</html>
