<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lecture Recording Automated Setup</title>
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/bootstrap/fonts/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/user.css') }}">
</head>

<body>
    <header>
        <nav class="navbar navbar-default">
            <div class="container">
                <img src="{{ asset('assets/img/uct.svg') }}" alt="University of Cape Town" class="navbar-brand"/>
            </div>
        </nav>
    </header>
    <div class="container post">
        <div class="row post-body">
            <div class="col-md-12 post-title">
                <h3><span style="color: #5caad2;">Lecture Recording</span> Automated Setup <small>or</small> Opt-Out</h3>
                <p class="author"><span class="text-muted">{{created_at|date("F jS \\a\\t g:ia")}}</span></p>
                <br/>
                <p style="font-size: 16px;">I acknowledge as the Head of Department (or as a delegated representative), that we will opt out of automated lecture recording setup <br/> for all courses in my department.</p>
                <div class="row">
                    <div class="col-sm-6">
                        <form id="loginForm" method="post" action="/optout/out/{{hash}}">
                            <input type="hidden" id="type" name="type" value="ask" />
                            <input type="hidden" id="optout_confirm" name="optout_confirm" value="1" />
                            <button type="submit" class="btn btn-success">Yes, Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- https://www.pexels.com/photo/auditorium-benches-chairs-class-207691/ -->
</body>
</html>
