{% include 'html_start_survey.html' %}
    <div class="content">
        {% include 'header_survey.html' %}
        
        <div class="container post">
            {% if (authenticated.a) %}
            <div class="row post-body">
                <div class="col-md-12 post-title">

                    <div class="row no-gutters" style="border-bottom: 1px solid #dee2e6;">
                        <div class="col-sm-8" style="padding-top: 10px;padding-left: 34px;">
                            <h3 id="result_title">Student Access Survey: <span style="color: #5caad2;">{{result.course}}</span></h3>
                            <p class="author" style="margin-bottom: 0.5rem;">
                                <span class="text-muted">{{result.created_at|date("F jS \\a\\t g:ia")}} <small>(data last refreshed at {{result.updated_at|date("F jS \\a\\t g:ia")}})</small></span>
                            </p>
                        </div>
                        <div class="col-sm-4 align-self-end">
                            <ul class="nav nav-tabs" id="resultTabs" role="tablist">
                                <li class="nav-item">
                                  <a class="nav-link active" id="students-tab" data-toggle="tab" href="#students" role="tab" rel="students" aria-controls="students" aria-selected="true">All Students</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="tutors-tab" data-toggle="tab" href="#tutors" role="tab" rel="tutors" aria-controls="tutors" aria-selected="false">Tutors</a>
                                </li>
                                <li class="nav-item">
                                  <a class="nav-link" id="locations-tab" data-toggle="tab" href="#locations" role="tab" rel="locations" aria-controls="locations" aria-selected="false">Locations</a>
                                </li>
                            </ul>

                        </div>
                    </div>

                    <div id="tabpanel" class="students">
                        <div class="header_grid">
                            <div class="div1" style="padding-top: 10px;">
                                <label>Important:</label>
                                <a href="https://docs.google.com/document/d/17G2Vy1SJO2-rvF0Y6RhAKp3trcm9_zztNOeUniQoGts/edit?usp=sharing" target="_blank" title="UCT Student Access Survey: Interpreting the survey">Interpreting the survey</a>

                                <label>Questions?</label>
                                <a href="mailto:help@vula.uct.ac.za?Subject=Student Access Survey course results query ({{result.course}})" title="Help: Student Access Survey course results query ({{result.course}})">help@vula.uct.ac.za</a>
                                
                                <label>Download results:</label>
                                <a href="{{out_link}}" target="_blank" class="students_locations"> <i class="fa fa-file-csv"></i> CSV File </a>
                                <a href="{{out_link_t}}" target="_blank" class="tutors"> <i class="fa fa-file-csv"></i> Tutors CSV File</a>
                            </div>
                        
                            <div class="div2 students_locations" id="survey_response"></div>
                            <div class="div2 tutors">
                                <div id="tutors_available"></div>
                                <div id="tutors_unavailable"></div>
                                <div id="tutors_unsure"></div>
                            </div>
                            <div class="div3 students_locations">
                                <div class="div1" id="survey_per"></div>
                                <div class="div2 text-muted">of</div>
                                <div class="div3" id="survey_students"></div>
                            </div>                           
                            <div class="div4">
                                <img src="{{ asset('public/build/images/DASS_logo_Round_Colour.png') }}" alt="DASS">
                            </div>
                        </div>
                                            
                        <div class="graph_container students_tutors">
                            <div class="div1 outline">
                                <h5>Access to devices</h5>
                                <div id="chart_access_device" class="students"></div>
                                <div id="chart_access_device_tutor" class="tutors"></div>
                            </div>
                            <div class="div2 outline">
                                <h5>Access to internet</h5>
                                <div id="chart_access_internet" class="students"></div>
                                <div id="chart_access_internet_tutor" class="tutors"></div>
                            </div>
                            <div class="div3 outline">
                                <h5>Type of access to internet</h5>
                                <div id="chart_access_type" class="students"></div>
                                <div id="chart_access_type_tutor" class="tutors"></div>
                            </div>
                            <div class="div4 outline">
                                <h5>Conditions of access to laptop or desktop computer</h5>
                                <div id="chart_engagement_access" class="students"></div>
                                <div id="chart_engagement_access_tutor" class="tutors"></div>
                            </div>
                            <div class="div5 outline">
                                <h5 class="students">Hours per day I am able to study online (after lockdown ends)</h5>
                                <h5 class="tutors">Hours per day I am able to tutor online (after lockdown ends)</h5>
                                <div id="chart_engagement_hours" class="students"></div>
                                <div id="chart_engagement_hours_tutor" class="tutors"></div>
                            </div>
                            <div class="div6 outline">
                                <h5>Things I can do online ignoring data costs or usage caps (after lockdown ends)</h5>
                                <div id="chart_activities" class="students"></div>
                                <div id="chart_activities_tutor" class="tutors"></div>
                            </div>
                        </div>

                        <div class="location_graph_container locations">
                            <div id="chart_student_locations"></div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="row post-body justify-content-md-center">
                <div class="col-md-5 post-title">
                    <form id="loginForm" method="post" action="{{out_link}}">
                        <input type="hidden" id="type" name="type" value="login"/>
                        <div class="modal-body">
                            <div class="form-group row">
                                <div class="col-sm-12">
                                {% if err != 'none' %}
                                    <div class="alert alert-danger" role="alert">{{err}}</div>
                                {% endif %}
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" name="eid" id="eid" value="" placeholder="User ID" style="width:100%">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <input type="password" class="form-control" name="pw" id="pw" placeholder="Password" style="width:100%">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Login</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        </div>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% if (authenticated.a) %}
    <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
    <script src="{{ asset('assets/js/tmpl.js') }}"></script>
    <script src="{{ asset('assets/js/moment.min.js') }}"></script>
    <script src="{{ asset('assets/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/amcharts4/core.js') }}"></script>
    <script src="{{ asset('assets/amcharts4/charts.js') }}"></script>
    <script src="{{ asset('assets/amcharts4/maps.js') }}"></script>
    <script src="{{ asset('assets/amcharts4/geodata/worldLow.js') }}"></script>
    <script src="{{ asset('assets/amcharts4/themes/animated.js') }}"></script>
    <script>
        function getObj(id, arr, key) { key = key || 'id'; var o = null; $.each(arr, function (i, el) { if (el[key] == id) { o=el; return; } }); return o; };
        Array.prototype.sum = function (prop) {
            var total = 0
            for ( var i = 0, _len = this.length; i < _len; i++ ) {
                total += parseInt(this[i][prop]);
            }
            return total
        }
        function formatNumber(num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1 ')
        }

        var cohort_response = {{result.cohort_response|json_encode|raw}};
        var survey_response = {{result.survey_response|json_encode|raw}};
        var survey_access_device = {{result.survey_access_device|json_encode|raw}};
        var survey_access_type = {{result.survey_access_type|json_encode|raw}};
        var survey_activities = {{result.survey_activities|json_encode|raw}};
        var survey_engagement_conditions = {{result.survey_engagement_conditions|json_encode|raw}};
        var survey_engagement_hours = {{result.survey_engagement_hours|json_encode|raw}};

        var survey_countries = {{result.survey_countries|json_encode|raw}};

        var tutor_available = {{result.tutor_available|json_encode|raw}};
        var tutor_access_device = {{result.tutor_access_device|json_encode|raw}};
        var tutor_access_type = {{result.tutor_access_type|json_encode|raw}};
        var tutor_activities = {{result.tutor_activities|json_encode|raw}};
        var tutor_engagement_conditions = {{result.tutor_engagement_conditions|json_encode|raw}};
        var tutor_hours = {{result.tutor_hours|json_encode|raw}};
   
        // Global chart settings
        var color_list = {
            'chart_access_device': ["#5DB0D3", "#5DB0D3", "#5DB0D3", "#B7241B"],
            'chart_access_type': ["#5DB0D3", "#6894DC", "#6871DC", "#B7241B"],
            'chart_engagement_hours': ["#5DB0D3"],
            'chart_activities': ["#5DB0D3"],
            'chart_engagement_access': ["#5DB0D3", "#B7241B", "#5DB0D3", "#5DB0D3"],

            'chart_engagement_access_tutor':  ["#055A9F", "#842A36", "#055A9F", "#055A9F"],
            'chart_access_device_tutor': ["#055A9F", "#055A9F", "#055A9F", "#842A36"],
            'chart_access_type_tutor': ["#055A9F", "#737993", "#c6c6c6", "#842A36"],
            'chart_engagement_hours_tutor': ["#055A9F"],
            'chart_activities_tutor': ["#055A9F"],
        };

        function getParseValue(id, arr, key, ref) {
            var o = getObj(id, arr, key);

            if (o) { 
                if ("undefined" !== typeof(o[ref])){
                    return parseInt(o[ref], 10);
                } 
            }
            return 0;
        }

        function drawAccessDevices(arr, id) {
            var total = arr.sum("cnt"),
                t_laptop_desktop = arr.filter(function(e){ return (e.Q3.indexOf("Desktop computer") >= 0) || (e.Q3.indexOf("Laptop") >= 0); }).sum("cnt");
            
            // create the chart and set the data
            var chart = am4core.create(id, am4charts.XYChart);
            chart.data = [
                { "type" : "Laptop/Desktop", "per" : ((t_laptop_desktop / total) * 100).toFixed(1), "val": t_laptop_desktop},
                { "type" : "Smartphone", "per" :  ((arr.sum("Smartphone") / total) * 100).toFixed(1), "val": arr.sum("Smartphone")},
                { "type" : "Tablet", "per" :  ((arr.sum("Tablet") / total) * 100).toFixed(1), "val": arr.sum("Tablet")},
                { "type" : "No Device", "per" :  ((arr.sum("Nothing") / total) * 100).toFixed(1), "val": arr.sum("Nothing")},
            ];
            chart.colors.list = color_list[id].map((i) => am4core.color(i));

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "type";
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 30;
            categoryAxis.renderer.fontSize = 10; 

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.min = 0;
                valueAxis.max = 100; 
                valueAxis.strictMinMax = true;            
                valueAxis.hide();

            var series1 = chart.series.push(new am4charts.ColumnSeries());
                series1.name = "Device";
                series1.dataFields.categoryX = "type";
                series1.dataFields.valueY = "per";

            // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
            series1.columns.template.adapter.add("fill", function(fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });
            series1.columns.template.adapter.add("stroke", function(fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });

            // Add label
            var valueLabel = series1.bullets.push(new am4charts.LabelBullet());
                valueLabel.scale = 0.8;    
                valueLabel.label.text = "{valueY}%";
                valueLabel.label.dy = -10;
                valueLabel.label.hideOversized = false;
                valueLabel.label.truncate = false;
        }

        function drawAccessToInternet(arr, id) {
            // Create chart instance
            var chart = am4core.create(id, am4charts.PieChart);
            chart.paddingRight = 60;
            chart.paddingLeft = 60;
            chart.paddingTop = 0;
            chart.paddingBottom = 0;

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "cnt";
            pieSeries.dataFields.category = "has";
            pieSeries.colors.list = [
                am4core.color("#265500"),
                am4core.color("#B7241B")
            ];

            // Let's cut a hole in our Pie chart the size of 30% the radius
            chart.innerRadius = am4core.percent(40);

            // Put a thick white border around each Slice
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;
            pieSeries.slices.template
            // change the cursor on hover to make it apparent the object can be interacted with
            .cursorOverStyle = [
                {
                    "property": "cursor",
                    "value": "pointer"
                }
            ];

            // Create a base filter effect (as if it's not there) for the hover to return to
            var shadow = pieSeries.slices.template.filters.push(new am4core.DropShadowFilter);
            shadow.opacity = 0;

            // Create hover state
            var hoverState = pieSeries.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

            // Slightly shift the shadow and make it more prominent on hover
            var hoverShadow = hoverState.filters.push(new am4core.DropShadowFilter);
            hoverShadow.opacity = 0.7;
            hoverShadow.blur = 5;

            var total = arr.sum('cnt'),
                no_internet = arr.filter(function(i){ return (i.Q5.indexOf("No access to Internet") >= 0); }).sum("cnt")
                some = total - no_internet;

            chart.data = [{
                "has": "Yes",
                "val": (some / total) * 100,
                "cnt": some
            },{
                "has": "No",
                "val": (no_internet / total) * 100,
                "cnt": no_internet
            }];
        }

        function drawAccessType(arr, id) {
            // Create chart instance
            var chart = am4core.create(id, am4charts.PieChart);
            chart.paddingRight = 60;
            chart.paddingLeft = 60;
            chart.paddingTop = 0;
            chart.paddingBottom = 0;

            // Add and configure Series
            var pieSeries = chart.series.push(new am4charts.PieSeries());
            pieSeries.dataFields.value = "cnt";
            pieSeries.dataFields.category = "has";
            pieSeries.colors.list = color_list[id].map((i) => am4core.color(i));

            // Let's cut a hole in our Pie chart the size of 30% the radius
            chart.innerRadius = am4core.percent(40);

            // Put a thick white border around each Slice
            pieSeries.slices.template.stroke = am4core.color("#fff");
            pieSeries.slices.template.strokeWidth = 2;
            pieSeries.slices.template.strokeOpacity = 1;
            // change the cursor on hover to make it apparent the object can be interacted with
            pieSeries.slices.template.cursorOverStyle = [
                {
                    "property": "cursor",
                    "value": "pointer"
                }
            ];

            // Create a base filter effect (as if it's not there) for the hover to return to
            var shadow = pieSeries.slices.template.filters.push(new am4core.DropShadowFilter);
            shadow.opacity = 0;

            // Create hover state
            var hoverState = pieSeries.slices.template.states.getKey("hover"); // normally we have to create the hover state, in this case it already exists

            // Slightly shift the shadow and make it more prominent on hover
            var hoverShadow = hoverState.filters.push(new am4core.DropShadowFilter);
            hoverShadow.opacity = 0.7;
            hoverShadow.blur = 5;

            // Wifi only: those who selected wifi and nothng else
            // Mobile only: those who selected mobile and nothing else
            // Wifi+Mobile: those who selected the two only
            // I dont have...: all that included "I dont have" regardless of what else they selected
            // Other: all those who included "other" and regardless of their other options (except "i dont have...") 

            var wifi_only = 'Wifi where I live (connected to home fibre, ADSL or a building network)',
                mobile_only = 'Mobile data (e.g. 3G, 4G, LTE) through a smartphone, dongle or mobile wifi router',
                wifi_mobile = 'Wifi where I live (connected to home fibre, ADSL or a building network),Mobile data (e.g. 3G, 4G, LTE) through a smartphone, dongle or mobile wifi router';

            var t_wifi_only = getParseValue(wifi_only,arr,'Q5','Wifi'),
                t_mobile_only = getParseValue(mobile_only,arr,'Q5','Mobile'),
                t_wifi_mobile = getParseValue(wifi_mobile,arr,'Q5','Wifi'),
                t_other = arr.filter(function(i){ return (i.Q5.indexOf("Other") >=0) &&  (i.Q5.indexOf("No access to Internet") == -1); }).sum("Other"),
                total = t_wifi_only + t_mobile_only + t_wifi_mobile + t_other;
                    
            chart.data = [{
                "has": "Wifi only",
                "val": (total > 0 ? ( t_wifi_only / total) * 100 : 0),
                "cnt": t_wifi_only
            },{
                "has": "Mobile only",
                "val":  (total > 0 ? (t_mobile_only / total) * 100 : 0),
                "cnt": t_mobile_only
            },{
                "has": "Wifi + Mobile",
                "val": (total > 0 ? (t_wifi_mobile / total) * 100 : 0),
                "cnt": t_wifi_mobile
            },{
                "has": "Other",
                "val": (total > 0 ? (t_other / total) * 100 : 0),
                "cnt": t_other
            }];
        }

        function drawEngagementHours(arr, id) {
            var total = arr.sum("cnt");
            arr.map(function(e){
                e.Q = (e.Q == "0" ? "< 1" : e.Q);
                e.Q = (e.Q == "10" ? "+ 10" : e.Q);
                e.cnt = parseInt(e.cnt, 10);
                e.per =  (total > 0 ? ((e.cnt / total) * 100).toFixed(1) : 0);
            });
            
            // create the chart and set the data
            var chart = am4core.create(id, am4charts.XYChart);
            chart.data = arr;
            chart.colors.list = color_list[id].map((i) => am4core.color(i));

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "Q";
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 30;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.hide();

            var series1 = chart.series.push(new am4charts.ColumnSeries());
                series1.name = "Hours";
                series1.dataFields.categoryX = "Q";
                series1.dataFields.valueY = "cnt";
                series1.dataFields.valuePer = "per";

            // Add label
            var valueLabel = series1.bullets.push(new am4charts.LabelBullet());
                valueLabel.scale = 0.8;    
                valueLabel.label.text = "{valuePer}%";
                valueLabel.label.dy = -10;
                valueLabel.label.hideOversized = false;
                valueLabel.label.truncate = false;
        }

        function drawEngagement(arr, id) {
            var total = arr.sum('cnt');
            
            // create the chart and set the data
            var chart = am4core.create(id, am4charts.XYChart);
            chart.data = [
                { "type" : "Own Laptop/Desktop", "per" : (total > 0 ? ((arr.sum("own_laptop_desktop") / total) * 100).toFixed(1) : 0)},
                { "type" : "I don't have any", "per" : (total > 0 ? ((arr.sum("Nothing") / total) * 100).toFixed(1) : 0)},
                { "type" : "I share mine with others", "per" : (total > 0 ? ((arr.sum("share_laptop_desktop") / total) * 100).toFixed(1) : 0)},
                { "type" : "I borrow from others", "per" : (total > 0 ? ((arr.sum("borrow_laptop_desktop") / total) * 100).toFixed(1) : 0)}
            ];
            chart.colors.list = color_list[id].map((i) => am4core.color(i));

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "type";
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 30;
            categoryAxis.renderer.fontSize = 10;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
                valueAxis.min = 0;
                valueAxis.max = 100; 
                valueAxis.strictMinMax = true;             
                valueAxis.hide();

            var series1 = chart.series.push(new am4charts.ColumnSeries());
                series1.name = "Device";
                series1.dataFields.categoryX = "type";
                series1.dataFields.valueY = "per";

            // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
            series1.columns.template.adapter.add("fill", function(fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });
            series1.columns.template.adapter.add("stroke", function(fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });

            // Add label
            var valueLabel = series1.bullets.push(new am4charts.LabelBullet());
                valueLabel.scale = 0.8;    
                valueLabel.label.text = "{valueY}%";
                valueLabel.label.dy = -10;
                valueLabel.label.hideOversized = false;
                valueLabel.label.truncate = false;
        }

        function drawActivities(arr, id) {
            var total = arr.filter(function(e){ return e.Q8 != ""; }).sum('cnt'),
                data_array =  [
                    { 
                        "type" : "Login to Vula, read announcements, join a chatroom", 
                        "per" : (total > 0 ? ((arr.sum("login_vula") / total) * 100).toFixed(1) : 0)
                    }
                    ,{ 
                        "type" : "Download a reading, notes or presentation from Vula (e.g. PDFs, Powerpoints, up to 10MB)", 
                        "per" : (total > 0 ? ((arr.sum("download") / total) * 100).toFixed(1) : 0)
                    }
                    ,{ 
                        "type" : "Search for and download learning or research materials online or through UCT Library", 
                        "per" : (total > 0 ? ((arr.sum("search") / total) * 100).toFixed(1) : 0)
                    }
                    ,{ 
                        "type" : "Download a lecture video (up to 500MB)", 
                        "per" : (total > 0 ? ((arr.sum("download_500") / total) * 100).toFixed(1) : 0)
                    }
                    ,{ 
                        "type" : "Play a lecture video online (without buffering)", 
                        "per" : (total > 0 ? ((arr.sum("stream") / total) * 100).toFixed(1) : 0)
                    }
                    ,{ 
                        "type" : "Voice call (e.g. Whatsapp voice call, Skype)", 
                        "per" : (total > 0 ? ((arr.sum("voice") / total) * 100).toFixed(1) : 0)
                    }                                                                      
                    ,{ 
                        "type" : "Live video call or meeting (e.g. WhatsApp video, Skype, Zoom, Teams, Adobe Connect)", 
                        "per" : (total > 0 ? ((arr.sum("video") / total) * 100).toFixed(1) : 0)
                    } 
                    // ,{ 
                    //     "type" : "I don't know", 
                    //     "per" : (total > 0 ? ((arr.sum("other") / total) * 100).toFixed(1) : 0)
                    // } 
                ];
            // sort these by highest % (top) to lowest % (bottom)
            data_array = data_array.map(function(i) { return {"type": i.type, "per": parseFloat(i.per)}; });
            data_array.sort(function (a, b) { return (a.per < b.per ? 1 : -1); });

            // create the chart and set the data
            var chart = am4core.create(id, am4charts.XYChart);
            chart.minHeight = 240;
            chart.data = data_array;
            chart.colors.list = color_list[id].map((i) => am4core.color(i));
            
            var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
            categoryAxis.dataFields.category = "type";
            categoryAxis.renderer.inversed = true;
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.renderer.minGridDistance = 20;
            categoryAxis.renderer.fontSize = 10;
            

            var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
                // valueAxis.renderer.opposite = true;
                valueAxis.min = 0;
                valueAxis.max = 100; 
                valueAxis.strictMinMax = true; 
                valueAxis.hide();

            var series1 = chart.series.push(new am4charts.ColumnSeries());
                series1.dataFields.valueX = "per";
                series1.dataFields.categoryY = "type";

            // Add label
            var valueLabel = series1.bullets.push(new am4charts.LabelBullet());
                valueLabel.scale = 0.8;    
                valueLabel.label.text = "{valueX}%";
                valueLabel.label.horizontalCenter = "left";
                valueLabel.label.dx = 10;
                valueLabel.label.hideOversized = false;
                valueLabel.label.truncate = false;
        }

        function drawLocations(arr, id) {
            var chart = am4core.create(id, am4maps.MapChart);

            try {
                chart.geodata = am4geodata_worldLow;
            }
            catch (e) {
                chart.raiseCriticalError(new Error("Map geodata could not be loaded. Please download the latest <a href=\"https://www.amcharts.com/download/download-v4/\">amcharts geodata</a> and extract its contents into the same directory as your amCharts files."));
            }

            chart.projection = new am4maps.projections.Miller();

            var title = chart.chartContainer.createChild(am4core.Label);
            title.text = "Student Responses by Country";
            title.fontSize = 20;
            title.fontWeight = "bold";
            title.padding(20,20,20,20);
            title.marginTop = am4core.percent(10);
            title.align = "center";
            title.background.fill = am4core.color("rgba(255, 255, 255, 0.8)");

            var polygonSeries = chart.series.push(new am4maps.MapPolygonSeries());

            var polygonTemplate = polygonSeries.mapPolygons.template;
            polygonTemplate.tooltipText = "{name}: {value.value}";
            polygonSeries.useGeodata = true;
            polygonSeries.heatRules.push({ 
                property: "fill", 
                target: polygonSeries.mapPolygons.template, 
                min: am4core.color("#EBF0FF"), 
                max: am4core.color("#0B3281") 
            });

            // add heat legend
            var heatLegend = chart.chartContainer.createChild(am4maps.HeatLegend);
            heatLegend.valign = "bottom";
            heatLegend.series = polygonSeries;
            heatLegend.width = am4core.percent(100);
            heatLegend.orientation = "horizontal";
            heatLegend.padding(30, 30, 30, 30);
            heatLegend.valueAxis.renderer.labels.template.fontSize = 10;
            heatLegend.valueAxis.renderer.minGridDistance = 40;

            polygonSeries.mapPolygons.template.events.on("over", function (event) {
                handleHover(event.target);
            })

            polygonSeries.mapPolygons.template.events.on("hit", function (event) {
                handleHover(event.target);
            })

            function handleHover(mapPolygon) {
            if (!isNaN(mapPolygon.dataItem.value)) {
                heatLegend.valueAxis.showTooltipAt(mapPolygon.dataItem.value)
            }
            else {
                heatLegend.valueAxis.hideTooltip();
            }
            }

            polygonSeries.mapPolygons.template.events.on("out", function (event) {
            heatLegend.valueAxis.hideTooltip();
            })

            // life expectancy data
            polygonSeries.data = arr;

            // excludes Antarctica
            polygonSeries.exclude = ["AQ"];
        }

        $(function() {

            $('#resultTabs').on('click', 'a', function(event){
                event.preventDefault();
                var e = $('#tabpanel'),
                    to = $(this).attr('rel');
                if (e.hasClass(to)) {
                    console.log("do nothing");
                } else {
                    e.attr('class', to);
                    switch(to) {
                        case 'students':
                            break;
                        case 'tutors':
                            break;
                        case 'locations':
                            break;
                    }
                }
            });
            am4core.ready(function() {
                // Themes begin
                am4core.useTheme(am4themes_animated);
                // Themes end

                drawAccessDevices(survey_access_device, "chart_access_device");
                drawAccessDevices(tutor_access_device, "chart_access_device_tutor");

                drawAccessToInternet(survey_access_type, "chart_access_internet");
                drawAccessToInternet(tutor_access_type, "chart_access_internet_tutor");

                drawAccessType(survey_access_type, "chart_access_type");
                drawAccessType(tutor_access_type, "chart_access_type_tutor");

                drawEngagementHours(survey_engagement_hours, "chart_engagement_hours");
                drawEngagementHours(tutor_hours, "chart_engagement_hours_tutor");
                
                drawEngagement(survey_engagement_conditions, "chart_engagement_access");
                drawEngagement(tutor_engagement_conditions, "chart_engagement_access_tutor");

                drawActivities(survey_activities, "chart_activities");
                drawActivities(tutor_activities, "chart_activities_tutor");

                drawLocations(survey_countries, "chart_student_locations");
            }); // end am4core.ready()

            cohort_response.map(function(e){ e.cnt = parseInt(e.cnt,10); });
            survey_response.map(function(e){ e.cnt = parseInt(e.cnt,10); });

            var total = survey_response.sum("cnt"),
                tutor_total = tutor_available.sum("cnt"),
                o_cohort_under = getObj('Undergraduate',cohort_response,'lvl'),
                o_cohort_post = getObj('Postgraduate',cohort_response,'lvl'),
                o_survey_under = getObj('Undergraduate',survey_response,'lvl'),
                o_survey_post = getObj('Postgraduate',survey_response,'lvl'),
                under = null, post = null;

                if (o_cohort_under && o_survey_under) {
                    under = ((o_survey_under.cnt / o_cohort_under.cnt) * 100).toFixed(1);
                }
                if (o_cohort_post && o_survey_post) {
                    post = ((o_survey_post.cnt / o_cohort_post.cnt) * 100).toFixed(1);
                }
            
            var cohort_total = (o_cohort_under ? o_cohort_under.cnt : 0) + (o_cohort_post ? o_cohort_post.cnt : 0);
            var survey_total = (o_survey_under ? o_survey_under.cnt : 0) + (o_survey_post ? o_survey_post.cnt : 0);

            per = ((survey_total / cohort_total) * 100).toFixed(1);
           
            $("#survey_response").html(tmpl('tmpl-graph-text', {'cls': 'text', 'no': formatNumber(total), 'txt': 'Responses' }));
            $("#survey_per").html(tmpl('tmpl-graph-text', {'cls': 'text', 'no': formatNumber(per) +'%', 'txt': 'Response Rate' }));
            $("#survey_students").html(tmpl('tmpl-graph-text', {'cls': 'text', 'no': formatNumber(cohort_total), 'txt': 'Students' }));

            $("#tutors_available").html(tmpl('tmpl-graph-text', {'cls': 'text', 'no': formatNumber(getParseValue('1',tutor_available,'Q','cnt')), 'txt': 'Available' }));
            $("#tutors_unavailable").html(tmpl('tmpl-graph-text', {'cls': 'text', 'no': formatNumber(getParseValue('0',tutor_available,'Q','cnt')), 'txt': 'Not Available' }));
            $("#tutors_unsure").html(tmpl('tmpl-graph-text', {'cls': 'text', 'no': formatNumber(getParseValue('2',tutor_available,'Q','cnt')), 'txt': 'Unsure' }));
        });
    </script>
    {{ source('results_template.html') }}
    {% endif %}
{% include 'footer.html' %}
{% include 'html_end.html' %}
