{% include 'html_start_survey_overview.html' %}
    <div class="content">
        {% include 'header.html' %}
        <a name="top" class="anchor"></a>
        <div class="container post">
            {% include 'header_nav.html' %}
            <div class="row post-body">
                <div class="col-md-12 post-title">
                    <h3><span style="color: #5caad2;">Student Access Survey:</span> Overview</h3>
                    <br/>
                    <div id="main-table" class="workflow-details">
                        <!--p>{{authenticated|json_encode()}}</p-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('public/build/app.js') }}"></script>
    <script src="{{ asset('public/build/js/jquery.min.js') }}"></script>
    <script src="{{ asset('public/build/js/moment.min.js') }}"></script>
    <script src="{{ asset('public/build/js/tmpl.js') }}"></script>
    <script src="{{ asset('public/build/js/utils.js') }}"></script>
    <script>
        var options = { "page": 1, "limit": 15, "filter": "", "order": "code,asc", "max": 0, "type": "all", "state":"all", "batch": 0};

        function showTable() {
            var $order = options.order,
                $current = options.page,
                $limit = options.limit,
                $filter = options.filter;
                $type = options.type;
                $state = options.state;

            console.log(options);
            $.ajax({
                url: "/optout/api/v0/dass/?page="+$current
                                    +($order!=""?"&order="+$order:"")
                                    +($limit!=""?"&limit="+$limit:"")
                                    +($type!=""?"&type="+$type:"")
                                    +($state!=""?"&state="+$state:"")
                                    +($filter!=""?"&filter="+encodeURI($filter):""),
                method: 'GET',
                dataType: 'json'
            }).done(function(data) {
                console.log(data);
                options.max = Math.ceil(data.total / data.limit);
                if(isNaN(options.max)) { options.max = 0; }
                $('#main-table').html(tmpl('tmpl-table', data))
            }).fail(function(xhr) {
                console.log(xhr);
            });
        }

        $(function() {
            
            $('#main-table')
                .html(tmpl('tmpl-table', {}))
                .on('click','th.sort', function(event) {
                    event.preventDefault();
                    var $el = $(this);

                    if ($el.is('.asc,.desc')) {
                        $el.toggleClass('asc desc');
                    } else {
                        $el.addClass('asc').siblings().removeClass('asc desc');
                    }
                    options.order = $el.data('rel') +','+
                                $el.attr('class').split(' ').filter(function(item) { return item == 'asc' || item == 'desc'; }).join();
                    showTable();
                }).on('click', 'nav > .pagination a', function(event){
                    event.preventDefault();
                    var n = parseInt(options.page,10),
                        $el = $(this);
                    switch($(this).attr('rel')) {
                        case 'prev':
                        case 'next':
                                n += parseInt($el.data('add'),10);
                                n = (n <= 0 ? 1: (n >= options.max ? options.max : n));
                            break;
                        default: n = $(this).attr('rel'); break;
                    }
                    options.page = n;
                    showTable();
                }).on('click','#filter-survey #set1 a', function(event) {
                    event.preventDefault();
                    options.type = $(this).attr('rel');
                    options.state = "all";
                    options.page = 1;
                    options.offset = 0;
                    showTable();
                }).on('click','#filter-survey #set2 a', function(event) {
                    event.preventDefault();                    
                    options.state = $(this).attr('rel').substring(2);
                    options.page = 1;
                    options.offset = 0;
                    showTable();
                }).on('submit', '#search_form', function(event) {
                    event.preventDefault();
                    options.filter = $('#series_filter').val();
                    options.page = 1;
                    options.offset = 0;
                    showTable();
                }).on('click', '#search_form .btn-dark', function(event) {
                    event.preventDefault();
                    $('#series_filter').val('');
                    options.filter = '';
                    showTable();
                });

            showTable();
        });
    </script>
    {{ source('results_overview_template.html') }}
{% include 'footer.html' %}
{% include 'html_end.html' %}